---
import ExperienceLayout from "../layouts/ExperienceLayout.astro";

const params = {
    title: "Snapshot",
}
---

<ExperienceLayout frontmatter={params}>
    <h1>{params.title}</h1>

    <img src="/images/Snapshot.jpg" /> 

    <p>
        Hello, I’m Tim. I am a senior software developer based in Elizabethtown,
        PA with over 20 years of software development experience. I attended
        Drexel University where I obtained a BS in Information Technology with a
        minor in Business Administration. During my time at Drexel, I held
        internships with AWE, Inc. and SAP. After graduation I was offered a
        permanent position with AWE, Inc., where I was the lead developer for
        7 years. From June of 2015 to early 2025 I served as a principle software
        developer, team lead and manager at Eurofins on a high profile line of business solution.

        Since then, I have taken a role as a technical lead at SofterWare, working on their
        flagship product, DonorPerfect, helping make it easy for non-profits to do good.
    </p>
    <p>Aside
        from a co-op as a server administrator, I have spent my career focused
        on developing best of breed products and solutions. Having consistently
        done full stack application and web development, my specialty has been
        in creating and maintaining back-end components including web services,
        operating systems management solutions, and databases. Able to complete
        large projects as the sole developer or leading a team, I bring a
        passion for learning and appropriately integrating new tools and
        technologies to create the desired solution. While I have substantial
        team management experience, my passion lies in development and being
        able to work alongside expert developers while making an obvious
        beneficial impact on the organization.
    </p>
</ExperienceLayout>


<style>
    img {
        max-width: 40em;
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 0 2em 2em 2em;
    }

    p {
        margin: 1.5em 0;
        line-height: 1.5;
        padding: 1em 0;
    }
</style>