---
import {
    Astronav,
    MenuItems,
    MenuIcon,
    Dropdown,
    DropdownItems,
    DropdownSubmenu,
} from "astro-navbar";

const currentPath = Astro.url.pathname;

---

<div>
    <Astronav>
        <div class="flex justify-between">
            <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
        <!--
    // add `hidden` class by default for mobile
    // `lg:flex` is to make it visible in desktop
    // You may use custom CSS instead.
    -->
        <MenuItems class="lg:flex">
            <ul>
                <li>
                    <a href="/about" class={currentPath === '/about' ? 'active' : ''}>Snapshot</a>
                </li>
                <li>
                    <a href="/experience" class={currentPath === '/experience' ? 'active' : ''}>Experience and Education</a>
                </li>
                <li>
                    <a href="/experience/eurofins" class={currentPath === '/experience/eurofins' ? 'active' : ''}
                        >Eurofins Lancaster Laboratories Detail</a
                    >
                </li>
                <li>
                    <a href="/experience/awe" class={currentPath === '/experience/awe' ? 'active' : ''}>AWE Detail</a>
                </li>
                <li>
                    <a href="/continuing-education" class={currentPath === '/continuing-education' ? 'active' : ''}>Continuing Education</a>
                </li>
                <li><a href="/skills" class={currentPath === '/skills' ? 'active' : ''}>Skills</a></li>
                <li>
                    <a
                        title="Resume" class={currentPath === '/resume' ? 'active' : ''}
                        href="http://timrohrer.info/wp-content/uploads/2018/02/TimRohrerResume_2018.pdf"
                        >Resume</a
                    >
                </li>
            </ul>
        </MenuItems>
    </Astronav>
</div>

<style>
    .hidden {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 1em;
        margin: .3em 0;
        font-size: 1.1em;
    }
    li {
        margin: .3em 0;
        padding: .25em;
    }

    li a {
        color: white;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: underline;
    }

    li a.active {
        text-decoration: underline;
    }
</style>
