---
import "../style/global.css";

const currentPath = Astro.url.pathname;
---

<nav id="nav-menu" class="nav-menu hidden">
    <ul>
        <li>
            <a href="/" class={currentPath === "/" ? "active" : ""}>Snapshot</a>
        </li>
        <li>
            <a
                href="/experience"
                class={currentPath === "/experience" ? "active" : ""}
                >Experience and Education</a
            >
        </li>
        <li>
            <a
                href="/experience/eurofins"
                class={currentPath === "/experience/eurofins" ? "active" : ""}
                >Eurofins Lancaster Laboratories Detail</a
            >
        </li>
        <li>
            <a
                href="/experience/awe"
                class={currentPath === "/experience/awe" ? "active" : ""}
                >AWE Detail</a
            >
        </li>
        <li>
            <a
                href="/continuing-education"
                class={currentPath === "/continuing-education" ? "active" : ""}
                >Continuing Education</a
            >
        </li>
        <li>
            <a href="/skills" class={currentPath === "/skills" ? "active" : ""}
                >Skills</a
            >
        </li>
        <li>
            <a
                title="Resume"
                class={currentPath === "/resume" ? "active" : ""}
                href="http://timrohrer.info/wp-content/uploads/2018/02/TimRohrerResume_2018.pdf"
                >Resume</a
            >
        </li>
    </ul>
</nav>

<style>
    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .nav-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-menu li {
        margin: 0.8em 0;
    }

    .nav-menu li a {
        color: white;
        text-decoration: none;
    }

    .nav-menu li a:hover {
        text-decoration: underline;
    }

    .nav-menu li a.active {
        text-decoration: underline;
    }

    @media (max-width: 900px) {
        #nav-menu {
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
        }

        .nav-menu li {
            margin: 0.8em 1em 0.8em 0;
        }
    }
</style>
