<div class="navigation">
    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog/">Blog</a>
    <a href="/test">Test MD</a>
    </nav>
</div>

<style>
    .navigation {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .navigation a {
        color: beige;
        margin-left: 3em;
        padding: .25em 1em;
        text-decoration: none;
        border-radius: .25em;
        background-color: blue;
        background-blend-mode: difference;
        

    }

    .navigation a:hover {
        background-color: orangered;
    }
</style>