---
import ContactInfo from "./ContactInfo.astro";
import Navigation from "./Navigation.astro";
import '../style/global.css';
---

<div class="nav-container">
    <button id="menu-toggle" class="menu-icon">☰</button>

    <div class="contactInfo">
        <ContactInfo />
    </div>

    <div id="nav-menu">
        <Navigation id="nav-menu" />
    </div>
</div>


<style>
    :root {
        --navbar-background: #27292b;
        --seperator: #3E4145;
    }

    .contactInfo {
        border-bottom: 1px solid var(--seperator);
        margin: 0;
    }

    body {
        margin: 0;
    }

    .nav-container {
        position: relative;
        margin: 0;
        background-color: var(--navbar-background);
        padding: 1em;
    }

    .menu-icon {
        position: absolute; /* Position relative to .nav-container */
        top: 0; 
        right: 0;
        font-size: 1.25em;
        cursor: pointer;
        background: none;
        border: 1px solid;
        border-color: var(--seperator);
        color: white;
        margin: 0.5em;
    }


    @media (min-width: 900px) {
        .menu-icon {
            display: none;
        }
    }
    @media (max-width: 900px) {
        .hidden {
            display: none;
        }

        .contactInfo {
            /* border-bottom: none; */
            padding-bottom: .5em;
        }

        .nav-container {
            padding-bottom: 0;
        }
    }
</style>

<script>
    const initializeMenuButtonHandler = () => {
        const menuToggle = document.getElementById("menu-toggle");
        const navMenu = document.getElementById("nav-menu");

        //Ensure hidden by default
        navMenu?.classList.add("hidden");
        
        menuToggle?.addEventListener("click", () => {
            navMenu?.classList.toggle("hidden");
        });
    };


    document.addEventListener("DOMContentLoaded", () => {
        initializeMenuButtonHandler();

        const navMenu = document.getElementById("nav-menu");
        const mainLayoutMinWidth = getComputedStyle(document.documentElement).getPropertyValue('--main-layout-min-width');
        const mediaQuery = window.matchMedia(`(max-width: ${mainLayoutMinWidth})`);

        // Function to handle media query changes
        const handleMediaQueryChange = (e: MediaQueryListEvent | MediaQueryList) => {
            if (e.matches) {
                // Media query matches (screen width <= 900px)
                navMenu?.classList.add("hidden");
            } else {
                // Media query does not match (screen width > 900px)
                navMenu?.classList.remove("hidden");
            }
        };

        // Initial check
        handleMediaQueryChange(mediaQuery);

        // Listen for changes in the media query
        mediaQuery.addEventListener("change", handleMediaQueryChange);
    });

    document.addEventListener("astro:after-swap", () => {
        initializeMenuButtonHandler();
    });
</script>