---
import Layout from "./Layout.astro";

---

<Layout title="Blog">
    <div class="subNavigation">
        <a href="/blog/">&ltBack</a>
    </div>
    <slot></slot>
</Layout>


<style>
    .subNavigation a {
        color:cyan
    }
</style>>