---
import { ClientRouter, ViewTransitions, fade, slide } from "astro:transitions";
import NavMenu from "../components/NavMenu.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div class="layout">
			<NavMenu />
			<!-- <div style="border:1px solid lightgrey;width:85vw; " ></div> -->

			<div class="content-area" transition:animate="fade" 0.2s>
				<!-- <nav>
					<a href="/">Home</a>
					<a href="/about">About</a>
					<a href="/blog/">Blog</a>
				</nav> -->
				<slot />
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	.layout {
		display: grid;
		grid-template-columns: 20em auto;
		grid-template-rows: minmax(100vh, auto);
	}

	@media (max-width: 900px) {
        .layout {
			grid-template-columns:100% ;
			grid-template-rows: auto;
            /* display: flex;
             */
			 flex-direction: column;
        }

        .nav-menu {
            width: 100%;
            padding: 1em;
        }
    }

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: whitesmoke;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.content-area {
		/* padding: 1em; */
	}
</style>
